<!DOCTYPE html>
<html>
  <head>

    <title>Student Side</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
      #confused-button {
        display: block;
        margin: 0 auto;
        width: 50%;
        font-size: 20px;
        font-weight: bold;
      }
    </style>
  </head>
  <body class="container my-5" background="#8ABD91">
    <h1 class="text-center"><%= studentRooms %></h1>

    <div class="row mt-3">
      <div class="col-sm-12">
        <form id="form" class="form-inline justify-content-center">
          <button id='confused-button' class="btn btn-danger ml-2">Confused</button>
        </form>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        var socket = io('/admin');

        var form = document.getElementById('form');
        var input = document.getElementById('input');
        const button = document.getElementById('confused-button')
        const counter = document.getElementById('clickCounter')

        const room = '<%= studentRooms %>'

        socket.on('connect', () => {
          socket.emit('join', {room}); 
          socket.emit('student join', {room});
        });
        
        window.addEventListener("beforeunload", function (e) {
          socket.emit("disconnect", { room });
        });

        button.addEventListener('click', function(e) {
          e.preventDefault();
          socket.emit('clicked', {room: room});
          button.setAttribute("disabled", true);
          setTimeout(() => {
            button.removeAttribute("disabled");
            socket.emit('unclicked', {room: room});
          }, 120000);
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
